@model KletsingMVC.Models.User

@{
    ViewBag.Title = "Account";
}

<h2>Details</h2>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Terug", "Index", "Home")
</p>
