@model KletsingMVC.Models.User

@{
    ViewBag.Title = Model.Email;
}

<h2>Details</h2>

<div>
    <h4>Gebruiker</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Terug", "Index", "Home")
</p>
