@model KletsingMVC.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-signin">

        <h2 class="form-signin-heading">Log in</h2>

        @Html.ValidationSummary(true)

        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", placeholder = "Email-adres", autofocus = "true", required = "true" })
        @Html.ValidationMessageFor(model => model.Email)

        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Wachtwoord", required = "true" })
        @Html.ValidationMessageFor(model => model.Password)

        <div class="checkbox">
            @Html.CheckBox("Persist", false)
            Remember me?
        </div>
        <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block" />
    </div>
}
<div>
    @Html.ActionLink("Terug", "Index", "Home")
</div>
