<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Klet's - sing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Klet's - sing", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("default"))
                    {
                        <li>@Html.ActionLink("Fonetiek", "Index", "Home")</li>
                        <li>@Html.ActionLink("Fonologie", "Index", "Home")</li>
                        <li>@Html.ActionLink("Woorden", "Index", "Home")</li>
                        <li>@Html.ActionLink("Zinsbouw", "Index", "Home")</li>
                        <li>@Html.ActionLink("Pragmatiek", "Index", "Home")</li>
                        <li>@Html.ActionLink("Auditief", "Index", "Home")</li>
                        <li>@Html.ActionLink("Thema", "Index", "Home")</li>
                        <li>@Html.ActionLink("Lessen", "Index", "Home")</li>
                    }
                </ul>
                @if (User.IsInRole("default"))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Hallo, " + User.Identity.Name, "Index", "Home")</li>
                        <li>
                            <asp:loginstatus runat="server" logoutaction="Redirect" logouttext="Log off" logoutpageurl="Default.aspx" onloggingout="LogOut" />
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Registreer", "Index", "Home")</li>
                        <li>@Html.ActionLink("Log in", "Index", "Home")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kentalis</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
