@model KletsingMVC.Models.WordListWordTypeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Letters</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("A", "SelectLetter", new { letter = "A" }) </p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("B", "SelectLetter", new { letter = "B" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("C", "SelectLetter", new { letter = "C" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("D", "SelectLetter", new { letter = "D" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("E", "SelectLetter", new { letter = "E" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("F", "SelectLetter", new { letter = "F" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("G", "SelectLetter", new { letter = "G" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("H", "SelectLetter", new { letter = "H" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("I", "SelectLetter", new { letter = "I" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("J", "SelectLetter", new { letter = "J" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("K", "SelectLetter", new { letter = "K" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("L", "SelectLetter", new { letter = "L" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("M", "SelectLetter", new { letter = "M" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("N", "SelectLetter", new { letter = "N" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("O", "SelectLetter", new { letter = "O" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("P", "SelectLetter", new { letter = "P" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("R", "SelectLetter", new { letter = "R" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("S", "SelectLetter", new { letter = "S" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("T", "SelectLetter", new { letter = "T" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("U", "SelectLetter", new { letter = "U" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("V", "SelectLetter", new { letter = "V" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("W", "SelectLetter", new { letter = "W" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("Y", "SelectLetter", new { letter = "Y" })</p>
    </div>
    <div class="col-md-4">
        <p class="lead">@Html.ActionLink("Z", "SelectLetter", new { letter = "Z" })</p>
    </div>
</div>

