@model KletsingMVC.Models.Word

@{
    if (Model == null)
    {
        Response.Redirect("~/Word/");
    }
    else
    {
        //Test data
        Model.Songs.Add(new KletsingMVC.Models.Song { Name = "Wielen" });
        ViewBag.Title = Model.Text;
        <h2>@Model.Text</h2>

        <div>
            <h4>Liedjes die horen bij het woord: @Model.Text</h4>
            @*<hr />
                <dl class="dl-horizontal">
                </dl>*@
        </div>

        <table class="table">
            <tr>
                <th>Naam</th>
                <th>[Nog leeg]</th>
                <th>Verwijderen</th>
            </tr>

           
            @foreach (var item in Model.Songs)
            {
                
                <tr>
                    <td>@Html.ActionLink(item.Name, "Index", "Song", new { id = item.Name })</td>

                    <td>
                        @Html.ActionLink("Verwijderen", "Delete", new { id = item.Name })
                    </td>
                </tr>
            }

        </table>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Text }) |*@
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

}


