@model IEnumerable<KletsingMVC.Models.Word>

@{
    ViewBag.Title = "Woorden";
}

<h2>Woorden</h2>

<p>
    @Html.ActionLink("Woord toevoegen", "Create")

    @using (Html.BeginForm("Search", "Word"))
    {
        @Html.TextBox("name")
    <input type="submit" value="Zoeken" class="btn btn-default" />
    }
</p>
<table class="table">
    <tr>
        <th>Woord</th>
        <th>Aantal Liedjes</th>
        <th>Aanpassen/Verwijderen</th>
    </tr>

    @{string lastChar = "";    }
    @foreach (var item in Model)
    {
        if (lastChar != item.Text.Substring(0, 1))
        {
            lastChar = item.Text.Substring(0, 1);
            <tr>
                <th id="@lastChar">@lastChar</th>
                <th></th>
                <th></th>
            </tr>

        }
        <tr>
            <td>@Html.ActionLink(item.Text, "Details", new { id = item.Text })</td>

            <td>@item.Songs.Count</td>

            <td>
                @Html.ActionLink("Aanpassen", "Edit", new { id = item.Text }) |
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.Text })
            </td>
        </tr>
    }

</table>
